<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body class="quiz">
  <div class="quiz-container">
    <h2 class="quiz-title">Question {{ score + 1 }}</h2>

    <form method="POST">
      <div class="question">{{ question["nom"] }}</div>
      <label class="option">
        <input type="text" name="reponse" required>
      </label>
      <button type="submit" class="submit-button">Valider</button>
    </form>
  </div>
</body>
</html>
